spring:
  application:
    name: foodsmap
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
  jpa:
    hibernate.ddl-auto: update
    show-sql: true
    properties.hibernate.format_sql: true
  datasource:
    url: ${DB_URI:jdbc:postgresql://localhost:5432/foodsmap}
    username: ${DB_USERNAME:foodsmap}
    password: ${DB_PASSWORD:foodsmap}
    driver-class-name: org.postgresql.Driver
    hikari:
      ssl: ${DB_SSL:false}
      sslmode: ${DB_SSL_MODE:verify-ca}
      ssl-root-cert: ${DB_SSL_ROOT_CERT:null}
      connection-timeout: 10000
      minimum-idle: 5
      maximum-pool-size: 20
      idle-timeout: 600000
      max-lifetime: 1800000
      auto-commit: true
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID:null}
            client-secret: ${GOOGLE_CLIENT_SECRET:null}
            scope:
              - email
              - profile
  mail:
    host: ${SMTP_HOST:smtp.example.com}
    port: ${SMTP_PORT:587}
    username: ${SMTP_USERNAME:null}
    password: ${SMTP_PASSWORD:null}
    properties:
      "[mail.smtp.connectiontimeout]": 5000
      "[mail.smtp.timeout]": 3000
      "[mail.smtp.writetimeout]": 5000
      mail:
        smtp:
          auth: ${SMTP_AUTH:true}
          starttls:
            enable: ${SMTP_TLS:true}
snowflake:
  worker-id: ${SNOWFLAKE_WORKER_ID:0}
  datacenter-id: ${SNOWFLAKE_DATACENTER_ID:0}
jwt:
  secret: ${JWT_SECRET}
cf-turnstile:
  secret: ${TURNSTILE_SECRET:1x0000000000000000000000000000000AA}
mail:
  from: ${MAIL_FROM:foodsmap@example.com}
  enabled: ${SEND_MAIL:true}
elasticsearch:
  uris:
    - ${ES_HOST:localhost:9200}
  auth:
    # username: ${ES_USERNAME:elastic}
    # password: ${ES_PASSWORD:pass}
    api-key: ${ES_API_KEY:null}
  ssl:
    enabled: ${ES_USE_SSL:false}
    certificate: ${ES_CA_FILE:null}
file-size-limit:
  avatar: 5MB
